.ais-SearchBox__root {

}

.ais-SearchBox__wrapper {

}

.ais-SearchBox__input {

}

.ais-SearchBox__input::-webkit-search-decoration, .input::-webkit-search-cancel-button, .input::-webkit-search-results-button, .input::-webkit-search-results-decoration {
  display: none;
}

.ais-SearchBox__input:hover {

}

.ais-SearchBox__input:focus, .input:active {

}

.ais-SearchBox__input::placeholder {

}

.ais-SearchBox__submit {

}

.ais-SearchBox__submit svg {

}

.ais-SearchBox__submit::before {

}

.ais-SearchBox__reset {

}

.ais-SearchBox__reset svg {

}
.ais-SearchBox__input:valid ~ .reset {
  display: block;
  animation-name: ais-Searchbox__sbx-reset-in;
  animation-duration: .15s;
}

@keyframes ais-Searchbox__sbx-reset-in {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
